<p class="bg-success" id="notice"><%= notice %></p>

<p class="form-control-static">
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p class="form-control-static">
  <strong>Cake:</strong>
  <%= @meeting.cake.name %>
</p>

<p class="form-control-static">
  <strong>Person:</strong>
  <%= @meeting.person.name %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting), class:"btn btn-default" %> |
<%= link_to 'Back', meetings_path, class:"btn btn-default" %>
