<p class="bg-success" id="notice"><%= notice %></p>

<p class="form-control-static">
  <strong>Name:</strong>
  <%= @person.name %>
</p>
<p class="form-control-static">
  <strong>Phone Number:</strong>
  <%= number_to_phone @person.cellphone, country_code:55%>
</p>
<p class="form-control-static">
  <strong>The phone number is encrypted</strong>
</p>

<%= link_to 'Edit', edit_person_path(@person), class:"btn btn-default" %> |
<%= link_to 'Back', people_path, class:"btn btn-default" %>
