<!DOCTYPE html>
<html>
  <head>
    <title>Bolo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= nav_bar static: :top, brand: "Bolo de sexta", responsive: true do %>
      <%= menu_group do %>
        <%= menu_item "Meetings", meetings_path %>
        <%= menu_item "Cakes", cakes_path %>
        <%= menu_item "People", people_path %>
      <% end %>
    <% end %>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
