<!DOCTYPE html>
<html>
  <head>
    <title>Bolo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="list-group">
      <%= link_to 'Meetings', meetings_path, class:"list-group-item active"  %>
      <%= link_to 'Cake', cakes_path, class:"list-group-item " %>
      <%= link_to 'People', people_path, class:"list-group-item"  %>
    </div>
    <div class="container" role="navigation" >


      <div class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
